<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>weather app</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Weather in your town</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city">City</label>
                    {{ form.name }}

                    <input type="submit" name="send" value="discover" class="btn btn-danger mt-2">
            </div>
            <div class="col-4 offset-2">
                <h1>Information</h1>
                {% for info in all_info %}
                <div class="alert alert-light">
                    <b>City</b> {{info.city}}<br>
                    <b>Temperatures</b>{{info.temp}} <sup>o</sup><br>
                    <img src="http://openweathermap.org/img/wn/{{info.icon}}.png" alt="icon weather" class="img-thumbnail">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>